.cardWrapper {
    position: relative;
    /* Можно добавить что-то общее для всех */
  }
  
  .cardBack {
    width: 45px;
    height: 65px;
    background-image:  url('/public/cards/more/card-bg.png') ;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  

  