.cardWrapper {
    position: absolute;
    /* Можно добавить что-то общее для всех */
  }
  
  .cardBack {
    width: 40px;
    height: 60px;
    background: linear-gradient(45deg, #666060, #2a2a2a);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  