.opponents {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    width: 100%;
}

.opponentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    width: fit-content;
  }
  
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    border: 3px solid rgba(255, 255, 255, 0.2);
  }
  
  .avatarImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .opponentInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .opponentName {
    font-size: 8px;
    font-weight: bold;
  }

  .cardsCount {
    font-size: 8px;
    font-weight: bold;
  }