.handContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40px;
    width: 100%;
  }

  .opponentHandContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    position: absolute;
  }

  
  .cardWrapper {
    position: relative;
    transition: transform 0.2s;
  }
  
  .cardWrapper:hover {
    transform: translateY(-20px);
    z-index: 10;
  }


  .opponentHand .cardWrapper {
    margin-left: -35px; /* Уменьшили отступ между картами */
    transform-origin: top center; /* Изменили точку вращения для карт противника */
}

.opponentHand .cardWrapper:nth-child(odd) {
    transform: rotate(20deg);
}
  
  .cardBack {
    width: 40px;
    height: 60px;
    background: linear-gradient(45deg, #666060, #2a2a2a);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }