.opponentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 20%;
  }
  
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    border: 3px solid rgba(255, 255, 255, 0.2);
  }
  
  .avatarImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }